
.containerPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.app-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 1px rgba(203, 202, 202, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  z-index: 50;
}


.main-content {
background-color: #f2f0f0;

}

.container {
  width: 30%;
  margin-right: auto;
  font-family: Arial, sans-serif;
}


.search-sort-bar {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-sort-bar .searchDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px 0;
}

.search-sort-bar input {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.sort-controls {
  margin: 30px 0;
}

.sort-select {
  background-color: rgb(232, 229, 229);
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 100;
}


.lessons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.card-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 70vw;
}

.card {
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.img-div {
  width: 100%;
  height: 40%;
  background-size: contain;
  margin-top: 20px;
}

button {
  background-color: #6b7b9c;
  color: white;
  border: none;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background 0.3s;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}


.cart-toggle {
  height: 40px !important;
  width: fit-content !important;
  /* background-color: #4eb7c1 !important; */
    background-color: #6b7b9c !important ;

}

.lesson-icon {
  display: flex;
  align-items: center;
}

.lesson-icon h4 {
  padding: 10px;
  font-size: 16px;
}

.filter {
  width: 20%;
  position: fixed;
  right: 0;
  padding: 20px;
  z-index: 20;
}

.header {
  text-align: left;
}

.form-control {
  width: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 12px;
  background-color: transparent;
  margin-bottom: 20px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-group{
  padding: 20px;
}

.checkout-section{
  background-color: #e4e6e8;
   border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    /* box-shadow: 10px 20px 0px rgba(210, 210, 210, 0.1); */
  h3{
    padding-left: 20px;
    font-size: 20px;
  }

  button{
    background-color: #6b7b9c !important;
   
  }
}

#phone{
 width: 60%;
border-radius: 5px;
border: 1px solid gray;
outline: none;
padding: 5px;
}


#name{
 width: 60%;
border-radius: 5px;
border: 1px solid gray;
outline: none;
padding: 5px;
}



@media (max-width: 992px) {
  .card-div {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
  }

  .search-sort-bar input {
    width: 200px;
  }

  .filter {
    position: static;
    width: 100%;
    padding: 10px;
  }
}


@media (max-width: 600px) {
  .app-header {
    flex-direction: column;
    text-align: center;
    font-size: 12px;
  }

  .search-sort-bar {
    width: 100%;
    padding: 10px;
  }

  .search-sort-bar .searchDiv {
    flex-direction: column;
    align-items: center;
  }

  .search-sort-bar input {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-div {
    grid-template-columns: 1fr;
    width: 95vw;
  }

  .container {
    width: 100%;
  }

  .filter {
    width: 100%;
    position: static;
  }
}
